/*==FONT IMPORT==*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*==GENERAL STYLIZATION==*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*==BODY==*/
body{
    background: #f1f1f1;
    width: 100vw;
}

/*==CONTAINER==*/
.container{
    width: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
}

/*==CARD==*/
.card{
    width: 350px;
    height: 700px;
    position: relative;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 15px rgb(156, 156, 156);
    transform: scale(85%);
}
.card-items{
    width: 100%;
    height: 100%;
}
/*==IMAGES==*/
#sneakers-1, #sneakers-2{
    width: 450px;
    position: absolute;
    top: 190px;
    transition: 1s;
}
#sneakers-1{
    left: -50px;
}
#sneakers-2{
    left: -650px;
}
/*==CONTAINER BLUE==*/
.card-top{
    width: 100%;
    height: 60%;
    background: #0088d2;
    border-radius: 30px;
    color: #fff;
}
/*==BUTTONS LEFT AND RIGHT==*/
.icons{
    display: flex;
    justify-content: space-between;
}
.icons span{
    cursor: pointer;
    padding: 1em;
}
/*==TEXTS==*/
.card-top h3{
    font-size: 20px;
    padding-left: 1.5em;
}
.card-top h1{
    font-size: 30px;
    padding-left: 1em;
    font-weight: 600;
}
.card-bottom{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.card-bottom h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.card-bottom p{
    text-align: left;
    line-height: 20px;
}
/*==BUTTON==*/
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    border: 2px solid #0088d2;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 16px;
    color: #0088d2;
    text-decoration: none;
    transition: all 0.5s;
}
.btn:hover{
    border: 2px solid #0088d2;
    background: #0088d2;
    color: #fff;
}
